
  .y2jgfmenulist-menu:hover .dropdown-content-y2jgf {
    display: flex;
    flex-direction: column;
  }
  .y2jgfmenulist-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }
  .y2jgfmenulist-menu:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }
  .y2jgfmenulist-menu:hover > a {
    color: #000 !important;
  }

  .y2jgfmenulist-menu > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff !important;
  }

  .dropdown-content-active-y2jgf {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .dropdown-content-active-y2jgf > a {
    color: #000 !important;
  }

  .dropdown-content-y2jgf {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 102;
    margin-top: 10px;
    padding: 5px;
  }
  .dropdown-content-y2jgf > a {
    width: inherit;
    padding: 10px;
    border: solid;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    color: #fff;
  }
  .dropdown-content-y2jgf > a:hover {
    background-color: #000;
  }
  .module-logo {
    width: 175px;
  }
  .y2jgfbody {
    width: var(--max);
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 20px;
    justify-content: space-between;
  }
  .y2jgfbody > a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    gap: 10px;
  }
  .y2jgf-title {
    font-size: 16px;
    font-weight: 500;
    color: --titlecolor--;
  }
  .y2jgf-spot {
    font-size: 16px;
    color: --spotcolor--;
  }
  .y2jgf-icon {
    font-size: 36px !important;
    color: --iconcolor--;
  }
  .y2jgf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .y2jgftitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .y2jgftitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }
  .y2jgftitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .y2jgftitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }
  .y2jgftitlebodylang ul {
    display: flex;
    gap: 5px;
    position: relative;
  }
  .y2jgftitlebodylang li {
    position: relative;
    list-style: none;
  }
  .y2jgfmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }
  .y2jgfmenulist {
    width: calc(100% - 20px);
    background-color: #6b8f00;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .y2jgfmenubody {
    width: 100%;
    background-color: #6b8f00;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .y2jgfmenulist {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding: 10px;
    /* overflow-x: auto; */
  }
  .y2jgfmenulistbody {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .y2jgfmenu {
      overflow-x: auto;
    }
    .y2jgfmenulist {
      flex-direction: row;
    }
    .module-logo {
      width: 200px;
    }
    .y2jgfbody {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .footer {
    position: relative;
    background: #6b8f00;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: --color--;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  } 

  .menu__link {
    font-size: 1.2rem;
    color: --color-- !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p { 
    color: --color--;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%236b8f00;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

